@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    padding: 0;
    margin: 0;
}

.pokemon-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.pokemonApp {
    font-family: 'Nerko One', cursive;
    background-color: hsl(55, 100%, 46%);
    background-size: cover;
    text-align: center;
}

.header {
    text-align: center;
    font-size: 0px;
    color: black;
    background-color: hsl(5, 76%, 47%);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 85% 85% / 30%;
}

.pokemonLogo {
    width: 350px;
}